---
// Blog Card
// ------------
// Description: The blog card component
// Properties:
// - Title: the title of the card
// - Subtitle: the subtitle of the card
// - Image: the main image of the card
// - Icon: the icon of the card
// - Link: The link to the blog post
// - classes: extra classes
// - Tags: the tags of the blog post
// - mobileSimplified: when true, only shows image, title and read more button on mobile
// Reference: https://wind-ui.com/components/cards/

// Components
// - UI
import { Image } from 'astro:assets'
import Card from './partials/Card.astro'
import CardBody from './partials/CardBody.astro'
import Badge from '../Badge.astro'

// Props
type Props = {
	title?: string
	subtitle?: string
	image?: any
	link?: string
	classes?: string
	tags?: string[]
	mobileSimplified?: boolean
}
const {
	title = '',
	subtitle,
	image,
	link,
	classes = '!shadow-none border border-neutral-100 dark:border-neutral-800',
	tags,
	mobileSimplified = false
} = Astro.props
---

<Card classes={`blog-card ${classes}`}>
	<a href={link} class="block h-full">
		{image && <Image src={image} alt={title} width={600} height={400} />}
		<CardBody>
			<h3 class="post-title">
				<span>{title}</span>
			</h3>
			<h4 class="post-subtitle" class:list={[{ 'mobile-hidden': mobileSimplified }]}>{subtitle}</h4>
			<div class:list={[{ 'mobile-hidden': mobileSimplified }]}>
				<slot />
			</div>
			{mobileSimplified && <div class="read-more-mobile">Read More</div>}
		</CardBody>

		{
			tags && (
				<div class="post-tags" class:list={[{ 'mobile-hidden': mobileSimplified }]}>
					{tags.map((tag: string) => (
						<Badge name={tag} link={`/blog/tags/` + tag} classes="capitalize" />
					))}
				</div>
			)
		}
	</a>
</Card>

<style>
	.post-title {
		@apply mb-0 text-xl;
	}
	.post-title span {
		@apply text-inherit;
	}
	.post-subtitle {
		@apply mb-6 text-sm font-normal text-neutral-400 dark:text-neutral-400;
	}
	.post-tags {
		@apply flex gap-2 border-t border-neutral-100 px-6 py-4 dark:border-neutral-800 relative z-10;
	}
	.read-more-mobile {
		@apply hidden text-sm font-medium text-primary-600 mt-2;
	}
	
	@media (max-width: 768px) {
		.blog-card {
			@apply !border-0 !shadow-none;
		}
		
		.blog-card :global(.card-body) {
			@apply !p-2;
		}
		
		.post-title {
			@apply text-base mb-1;
		}
		
		.mobile-hidden {
			@apply hidden;
		}
		
		.read-more-mobile {
			@apply block;
		}
	}

	/* Make sure the link doesn't show the default color */
	a {
		@apply text-inherit no-underline;
	}
</style>
